.form-login{
    margin: 0 auto;
}

.botao{
    margin-top: 10px;
}

.row{
    margin:10px;
    
}

.Sem_cadastro{
    color: red;
}

.botaoGoogle{
    
        display: flex;
        justify-content: center;
    

}